# Local .terraform folder
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive tfvars files
*.tfvars
*.tfvars.json

# Override variables file
override.tf
override.tf.json
_override.tf
_override.tf.json
